.loading{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading > div{
    width: 10vmax;
    height: 10vmax;
    border-bottom: 3px solid rgba(72, 105, 155, 0.527);
    border-radius: 50%;
    animation: loadingAnimation 1s linear infinite reverse;
}

@keyframes loadingAnimation {
    to{
        transform: rotateZ(-360deg);
    }
}
